<h1>All created users</h1>
<div class="card-container">
    {{#if arrAllUsers.length}}
        {{#each arrAllUsers }}
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{this.img}}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{firstName}}-<i
                            class="material-icons right">more_vert</i></span>
                    <p class="price"><a href="{{email}}">{{price}}</a></p>
                </div>
                <div class="card-action action">
                    <a href="all/{{this._id}}" target="_blank">More</a>
                    {{#if @root.isAuth}}
                        <a href="all/{{this._id}}/edit?allow=true">Change</a>

                        <form action="/card/add" method="post">
                            <input type="hidden" name="id" value="{{this._id}}">
                            <input type="hidden" name="_csrf" value="{{@root.tokenSentToFront}}">
                            <input name="submit" type="submit" role="button" value="Add to card"
                                   aria-label="Submit" data-input-type="submit"
                                   style="width: 10vw; height: 44px; border-radius: 4px; font-size: 16px; font-weight: bold;
           background-color: rgb(0, 159, 227); border: 0px solid rgb(255, 255, 255); color: rgb(255, 255, 255);
            margin-top: 5px; text-align: center;"
                                   draggable="false" data-shadow-distance="0" data-radius="9.09">
                        </form>
                    {{/if}}
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{this.firstName}}<i
                            class="material-icons right">close</i></span>
                    <p>My name {{this.firstName}} {{this.lastName}}, Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit..</p>
                </div>
            </div>
        {{/each}}
    {{else}}<p>Temporary empty list</p>
    {{/if}}
</div>

<a href="/">to Home</a>